<div class="container w-full 3xl:w-[95%] 4xl:w-[90%] flex flex-col 2xl:flex-row justify-between gap-16 relative z-40">
	<div class="flex flex-col sm:flex-row gap-8 sm:gap-12 3xl:gap-16">
		<div class="flex flex-col gap-4 text-wfac-dark-red">
			<h6 class="text-wfac-cream">
				Opening Hours
			</h6>
			<div class="flex flex-col gap-3">
				{{ options.footer_opening_hours }}
			</div>
		</div>
		<div class="flex flex-col gap-4 text-wfac-dark-red">
			<h6 class="text-wfac-cream">
				Contact Us
			</h6>
			<div class="flex flex-col gap-3">
				<a href="tel:{{ options.company_details.phone }}" class="footer-menu-item">
					{{ options.company_details.phone }}
				</a>
				<a href="mailto:{{ options.company_details.email }}" class="footer-menu-item before:w-full">
					{{ options.company_details.email }}
				</a>
				<a href="{{ options.company_details.address_link }}" class="footer-menu-item flex flex-row gap-1 before:w-full">
					{{ options.company_details.address }}
					{% include "icons/arrow.twig" with { class: 'size-6 -rotate-45' } %}
				</a>
				<div class="flex flex-row gap-4 pt-4">
					<a class="duration-400 ease-fancy hover:scale-90" href="{{ options.social_media.facebook }}">{% include "icons/facebook.twig" with { class: 'size-8' }  %}</a>
					<a class="duration-400 ease-fancy hover:scale-90" href="{{ options.social_media.instagram }}">{% include "icons/instagram.twig" with { class: 'size-8' }  %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-2 md:grid-cols-3 lg:flex flex-row gap-8 sm:gap-12 3xl:gap-16 justify-between">
		{% include "partials/footer/footer-sub-menu.twig" with { title: 'Program', menu: program_menu  } %}
		{% include "partials/footer/footer-sub-menu.twig" with { title: 'Art Classes', menu: art_classes_menu  } %}
		{% include "partials/footer/footer-sub-menu.twig" with { title: 'Visit', menu: visit_menu  } %}
		{% include "partials/footer/footer-sub-menu.twig" with { title: 'Engage', menu: program_menu  } %}
		{% include "partials/footer/footer-sub-menu.twig" with { title: 'About', menu: about_menu  } %}
	</div>
</div>
