<article class="post-tease shop-tease relative flex flex-col max-lg:gap-4 w-full gap-2 group text-wfac-cream {{ class }}">
	<a href="{{ shop_item.link.url }}" class="absolute inset-0 h-full w-full z-20"></a>
	<div class="image-container relative w-full aspect-[0.9] overflow-hidden rounded-md !pointer-events-none">
		<img src="{{ get_image(shop_item.image).src }}" alt="{{ shop_item.image.alt }}" class="absolute inset-0 w-full h-full object-cover"/>
	</div>
	<div class="flex flex-row justify-between gap-8 !pointer-events-none">
		<div class="flex flex-col gap-1">
			<h4 class="is-h5 lg:opacity-0 lg:translate-y-6 group-hover:opacity-100 group-hover:translate-y-0 duration-[400ms] ease-in-out">
				{{ shop_item.link.title }}
			</h4>
			<a href="{{ shop_item.artist.url }}" class="underline !pointer-events-auto lg:opacity-0 lg:translate-y-6 group-hover:opacity-100 group-hover:translate-y-0 duration-[400ms] ease-in-out group-hover:delay-75">
				{{ shop_item.artist.title }}
			</a>
		</div>
		<div class="flex flex-col gap-1 w-fit lg:opacity-0 lg:translate-y-6 group-hover:opacity-100 group-hover:translate-y-0 duration-[400ms] ease-in-out group-hover:delay-150 max-md:pr-2">
			<span class="is-h5">
				{{ '$' ~ shop_item.price }}
			</span>
		</div>
	</div>
</article>
