<div class="flex flex-col gap-2 relative">
	<label class="text-lg text-wfac-cream/40" for="{{ id }}">{{ label }}</label>
	<select class="select" {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} name="{{ name }}" id="{{ id }}">
		{% for option in options %}
			<option value="{{ option.value }}" {% if option.default %} selected {% endif %}>
				{{ option.label }}
			</option>
		{% endfor %}
	</select>
</div>
